.jobHistorySection {
  margin-inline: var(--huge);
}

.jobHistoryFrame {
  padding: var(--lg) var(--xl) !important;
  justify-content: space-between;
}

.jobFrame {
  width: 23.9583vw;
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.timeText {
  font-family: "Coolvetica";
  text-transform: uppercase;
  color: var(--grey);
  font-size: var(--fsm);
}

.roleText {
  font-size: var(--fxs);
}

.companyLink {
  font-size: var(--fxs);
  text-decoration: underline dotted var(--white);
  text-underline-position: under;
}
