@import url("../../../globals.css");

.contact-section {
  margin-inline: var(--huge);
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--lg);
}

.contact-text-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.contact-header-frame {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.contact-text {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-size: var(--flg);
  /* text-shadow: var(--text-glow); */
}

.contact-description-text {
  font-size: var(--fxs);
  color: var(--grey);
}

.social-frame {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.social-text {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-size: var(--fsm);
  color: var(--grey);
}

.social-list-frame {
  display: flex;
  flex-direction: row;
  gap: var(--sm);
}

.contact-form-frame {
  display: flex;
  flex: 1.2;
}

.contact-form-inner-frame {
  display: flex;
  flex-direction: column;
  gap: var(--md);
  flex: 1;

  box-shadow: var(--basic-drop-shadow), var(--blue-glow) !important;

  /* animation: pulsate 4s ease-in-out infinite both; */
}

.contact-input-frame {
  display: flex;
  flex-direction: column;
  gap: var(--sm);

  cursor: text;
}

.contact-input-row {
  display: flex;
  flex-direction: row;
  gap: var(--sm);
}

.contact-form-text {
  font-size: var(--fsm);
}

/* @keyframes pulsate {
  0% {
    box-shadow: var(--basic-drop-shadow), var(--blue-glow) !important;
  }
  40% {
    box-shadow: var(--basic-drop-shadow), 0 0 200px #2b83e830 !important;
  }
  45% {
    box-shadow: var(--basic-drop-shadow), 0 0 200px #2b83e830 !important;
  }
  100% {
    box-shadow: var(--basic-drop-shadow), var(--blue-glow) !important;
  }
} */

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
