:root {
  --sky-blue: #2b83e8;

  --stone: #474747;
  --smoke: #252525;
  --charcoal: #181919;

  --grey: #c4c5cd;
  --grey-10: #c4c5cd10;

  --white: white;
  --white-40: #ffffff40;
  --white-10: #ffffff10;
}
