:root {
  /* Font Sizes */
  --fhuge: 16.6138rem; /* 265.05px */
  --fxl: 10.2685rem; /* 164.29px */
  --flg: 6.3462rem; /* 101.54px */
  --fmd: 3.9223rem; /* 62.75px */
  --fsm: 2.4246rem; /* 38.78px */
  --fxs: 1.4988rem; /* 23.97px */
  --ftiny: 0.9268rem; /* 14.81px */
  --fmicro: 0.5769rem; /* 9.23px */

  /* Spacing (converted at 1920px)*/
  --massive: 20.052vw; /* 385px */
  --huge: 12.5vw; /* 240px */
  --xl: 7.8125vw; /* 150px */
  --lg: 4.8958vw; /* 94px */
  --md: 3.0729vw; /* 59px */
  --sm: 1.9271vw; /* 37px */
  --xs: 1.1979vw; /* 23px */
  --tiny: 0.7292vw; /* 14px */
  --micro: 0.4688vw; /* 9px */

  /* Border Radius */
  --card-radius: 100px;
  --full-radius: 999px;

  /* Colors */
  --sky-blue: #2b83e8;
  --sky-blue-40: #2b83e840;

  --stone: #474747;
  --dust: #2b2b2b;
  --smoke: #252525;
  --deep-smoke: #1d1d1d;
  --charcoal: #181919;

  --grey: #c4c5cd;
  --grey-40: #c4c5cd40;
  --grey-10: #c4c5cd10;

  --white: white;
  --white-60: #ffffff60;
  --white-40: #ffffff40;
  --white-10: #ffffff10;

  /* Gradients */
  --glass-gradient: linear-gradient(
    135deg,
    var(--white-40) 0%,
    var(--grey-10) 80%
  );

  --card-background-gradient: linear-gradient(
    0deg,
    var(--smoke) 70%,
    var(--deep-smoke) 100%
  );

  --inverted-card-background-gradient: linear-gradient(
    0deg,
    var(--grey) 70%,
    var(--white) 100%
  );

  /* Effects */
  --basic-drop-shadow: 0 4px 24px hsla(0, 0%, 0%, 0.25);
  --basic-inset-shadow: inset 0 4px 24px hsla(0, 0%, 0%, 0.25);
  --hard-drop-shadow: 0 4px 24px hsla(0, 0%, 0%, 0.6);

  --glass-inset-glow: inset 0 0 10px var(--grey);
  --blue-glow: 0 0 200px var(--sky-blue-40);
  --text-glow: 0 0 30px var(--white-60);

  --glass-blur: blur(30px);
}
