@import url("../../../globals.css");

.job-history-section {
  margin-inline: var(--huge);
}

.job-history-frame {
  padding: var(--lg) var(--xl) !important;
  justify-content: space-between;
}

.job-frame {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.time-text {
  font-family: "Coolvetica";
  text-transform: uppercase;
  color: var(--grey);
  font-size: var(--fsm);
}

.role-text {
  font-size: var(--fxs);
}

.company-link {
  font-size: var(--fxs);
  text-decoration: underline dotted var(--white);
  text-underline-position: under;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
