.cardFrame {
  display: flex;
  flex-direction: column;
  gap: var(--md);
  flex: 1;
  align-items: center;
  justify-content: center;

  animation: scale-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.075) forwards;
}

.titleText {
  font-size: var(--fsm);
}

.subText {
  font-size: var(--fxs);
  color: var(--grey);
  text-align: center;
}

.shadeImage {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  filter: var(--layer-blur);

  opacity: 0.5;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
