/* CSS Imports */
@import url("constants/constants.css");

/* Font Loading */
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("./public/assets/fonts/OpenSans-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Coolvetica";
  src: url("./public/assets/fonts/Coolvetica-rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./public/assets/fonts/Coolvetica-rg.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CoolveticaCondensed";
  src: url("./public/assets/fonts/Coolvetica-rg-cond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoolveticaCrammed";
  src: url("./public/assets/fonts/Coolvetica-rg-cram.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoolveticaCompressed";
  src: url("./public/assets/fonts/Coolvetica-hv-comp.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Global Styling */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: var(--charcoal);
}

body {
  margin: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "OpenSans";
  color: var(--white);
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--huge);
}

.bounding-box {
  border: 1px red solid;
}

.background-bounding-box {
  background-color: red;
}

button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: inherit;
  outline: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--f-lg);
  line-height: 100%;
}

p {
  font-size: var(--f-xs);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-weight: 100;
}

/* Utils */
.gap-lg,
.gap-md,
.gap-sm,
.gap-xs,
.gap-tiny,
.column {
  display: flex;
}

.gap-lg {
  gap: var(--lg);
}

.gap-md {
  gap: var(--md);
}

.gap-sm {
  gap: var(--sm);
}

.gap-xs {
  gap: var(--xs);
}

.gap-tiny {
  gap: var(--tiny);
}

.gap-micro {
  gap: var(--micro);
}

.column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.divisor {
  height: 1px;
  position: relative;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    #c4c5cd00 0%,
    var(--grey) 50%,
    #c4c5cd00 100%
  );
}
