/* CSS Imports */
@import url("constants/colors.css");
@import url("constants/screen-widths.css");
@import url("constants/spacing.css");
@import url("constants/font-sizes.css");

/* Font Loading */
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("./public/assets/fonts/OpenSans-Variable.ttf") format("truetype");
}

/* @font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"), url("./public/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
} */

/* @font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url("./public/assets/fonts/Pacifico-Regular.ttf") format("truetype");
} */

@font-face {
  font-family: "Coolvetica";
  src: url("./public/assets/fonts/Coolvetica-rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("./public/assets/fonts/Coolvetica-rg.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CoolveticaCondensed";
  src: url("./public/assets/fonts/Coolvetica-rg-cond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoolveticaCrammed";
  src: url("./public/assets/fonts/Coolvetica-rg-cram.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoolveticaCompressed";
  src: url("./public/assets/fonts/Coolvetica-hv-comp.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Global Styling */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: var(--charcoal);
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "OpenSans";
  color: white;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--huge);
}

.bounding-box {
  border: 1px red solid;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Coolvetica";
  font-size: var(--f-lg);
  font-weight: 100;
  line-height: 100%;
}

p {
  font-size: var(--f-xs);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

/* Utils */
.gap-lg,
.gap-md,
.gap-sm,
.gap-xs,
.gap-tiny,
.column {
  display: flex;
}

.gap-lg {
  gap: var(--lg);
}

.gap-md {
  gap: var(--md);
}

.gap-sm {
  gap: var(--sm);
}

.gap-xs {
  gap: var(--xs);
}

.gap-tiny {
  gap: var(--tiny);
}

.gap-micro {
  gap: var(--micro);
}

.column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}
