@import url("../../globals.css");

.hero-section {
  padding: 0 var(--huge);
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: var(--lg);
  align-items: center;
}

.hero-main {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 110px;
}

.hero-secondary {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: var(--sm);
  align-items: center;
}

.hero-heading {
  text-align: center;
}

.name {
  position: absolute;
  top: 10;
  left: 50%;
  transform: translateX(-50%);

  mix-blend-mode: overlay;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
