@import url("../../globals.css");

.hero-section {
  margin-inline: var(--huge);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--lg);
  align-items: center;
}

.hero-main-frame {
  display: flex;
  flex-direction: column;
  position: relative;
}

.name-frame {
  position: "relative";
  margin-bottom: var(--xl);
}

.former-frame {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: var(--sm);
  align-items: center;
}

.name-text {
  font-family: "Coolvetica";
  font-size: var(--f-lg);
  font-weight: 100;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

  mix-blend-mode: overlay;
}

.skills-text {
  font-family: "Coolvetica";
  font-size: var(--f-lg);
  font-weight: 100;
  line-height: 100%;

  text-align: center;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
