@import url("../../globals.css");
:root {
  --hero-light-frame-dimensions: 3106px;
  --top-position: -2560px;
}

.hero-section {
  margin-inline: var(--huge);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--lg);
  align-items: center;
  margin-top: var(--lg);
}

.hero-main-frame {
  display: flex;
  flex-direction: column;
  position: relative;
}

.former-frame {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: var(--sm);
  align-items: center;
}

.name-text {
  font-family: "Coolvetica";
  font-size: var(--f-lg);
  color: var(--grey);
  font-weight: 100;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;

  mix-blend-mode: overlay;
}

.skills-text {
  font-size: var(--f-lg);
  text-shadow: var(--text-glow);

  text-align: center;
}

.hero-light-frame {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  animation: light-up 0.5s ease-in forwards;
  animation-delay: 0.1s;
}

.light-mask {
  width: var(--hero-light-frame-dimensions);
  height: var(--hero-light-frame-dimensions);
  mask: radial-gradient(circle at center, #000000 50%, #00000000 70%);
  mask-repeat: no-repeat;
  top: var(--top-position);
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.light-main-frame {
  background: radial-gradient(
    circle at center,
    var(--white-40) 40%,
    #ffffff00 70%
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.light-overlay-frame {
  background: radial-gradient(circle at center, #9badb8 20%, #9badb850 70%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  mix-blend-mode: overlay;
}

.noise-mask {
  width: var(--hero-light-frame-dimensions);
  height: var(--hero-light-frame-dimensions);
  mask: radial-gradient(circle at center, #ffffff00 40%, #ffffff90 70%);
  mask-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  mix-blend-mode: overlay;
}

.noise-frame {
  width: var(--hero-light-frame-dimensions);
  height: var(--hero-light-frame-dimensions);
  background-image: url("../../public/assets/images/textures/noise-texture.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes light-up {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
