.toolsSection {
  margin-inline: var(--huge);
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.headerFrame {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--lg);
  justify-content: space-between;
}

.toolsText {
  font-size: var(--flg);
}

.toggleFrame {
  display: flex;
  flex-direction: row;
  gap: var(--micro);
}

.toggleButton,
.toggleDivisor,
.toggleButtonActive {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-size: var(--fxs);
  color: var(--grey);
}

.toggleButtonActive {
  color: var(--white);
}

.toolsByTypeFrame,
.extraToolsFrame,
.toolsFrame {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}
