.toolsSection {
  margin-inline: var(--huge);
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  position: relative;
}

.headerFrame {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--lg);
  justify-content: space-between;
}

.toolsText {
  font-size: var(--flg);
}

.toolsByTypeFrame,
.extraToolsFrame,
.toolsFrame {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}
