.comingSoonSection {
  margin-inline: var(--huge);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: var(--lg); */
}

.comingSoonText {
  font-family: "Coolvetica";
  font-size: var(--fxl);
  color: var(--grey);
  font-weight: 100;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;

  mix-blend-mode: overlay;
}

@media screen and (max-width: 1060px) {
  .comingSoonSection {
    margin: var(--lg) var(--xl);
  }
  .nameText,
  .skillsTextLightFlicker,
  .skillsText {
    font-size: var(--fmd);
  }
}

@media screen and (max-width: 790px) {
  .comingSoonText {
    font-size: var(--flg);
  }
}

@media screen and (max-width: 620px) {
  .comingSoonSection {
    margin-inline: var(--md);
  }
  .comingSoonText {
    font-size: var(--fmd);
  }
}
