.underDevFrame {
  display: flex;
  flex-direction: row;
  gap: var(--micro);
  background-color: var(--white);
  position: absolute;
  box-shadow: var(--hard-drop-shadow);
  left: 50%;
  top: 50%;
  z-index: 899;
}

.tapeCircleDivisor {
  width: 5px;
  aspect-ratio: 1/1;
  border-radius: var(--full-radius);
  background-color: var(--charcoal);
}

.underDevText {
  font-family: "Coolvetica";
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: var(--ftiny);
  color: var(--charcoal);
  font-weight: 100;
}

.underDevTextFrame {
  display: flex;
  align-items: center;
  gap: var(--micro);
}

@media screen and (max-width: 790px) {
  .underDevText {
    font-size: var(--fmicro);
  }
  .tapeCircleDivisor {
    width: 3px;
  }
}
