@import url("../../globals.css");

.basic-card-frame {
  padding: var(--lg);
  display: flex;
  background: linear-gradient(0deg, var(--smoke) 70%, var(--deep-smoke) 100%);
  position: relative;
  border-radius: 100px;
  border: 1px solid var(--stone);
  box-shadow: 0 4px 24px hsla(0, 0%, 0%, 0.25);
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
