@import url("../../../globals.css");

.input-frame {
  display: flex;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--dust);
  box-shadow: var(--basic-inset-shadow);
  border: 1px solid var(--stone);
}

.text-input {
  font-family: "OpenSans";
  display: flex;
  flex: 1;
  font-size: var(--ftiny);
  color: var(--grey);
  border: none;

  scrollbar-color: var(white) transparent;
  scrollbar-width: thin;
}
