@import url("../../globals.css");

nav {
  padding: var(--sm) var(--xl);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: var(--gap-xl);
  flex-direction: column;
  align-items: baseline;
  position: fixed;
  padding: 16px;
  background-color: var(--charcoal);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-section {
  display: flex;
  gap: var(--sm);
}

.nav-button {
  font-family: "OpenSans";
  font-size: var(--f-tiny);
  color: var(--grey);

  border-radius: 999px;
  border: 1px solid var(--grey);
  padding: var(--tiny) var(--xs);
  background-color: var(--grey-10);
  box-shadow: inset 0 4px 24px hsla(0, 0%, 0%, 0.25);

  transition: 0.2s ease;
}

.nav-button:hover {
  color: var(--white);
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.6);

  background-color: var(--white-10);
}

.nav-button-active {
  font-family: "OpenSans";
  font-size: var(--f-tiny);
  color: var(--white);
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.6);

  border: 1px solid var(--white);
  border-radius: 999px;
  padding: var(--tiny) var(--xs);
  background-color: var(--white-40);
  box-shadow: 0 4px 24px hsla(0, 0%, 0%, 0.25);
  cursor: default;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-button {
  display: none;
}

@media screen and (max-width: 940px) {
  .nav-section {
    display: none;
  }
  nav .logo {
    margin: 5px;
    position: initial;
    transform: translateY(0);
  }
  .dropdown-menu-button {
    display: initial;
  }
}

@media screen and (max-width: 620px) {
  footer {
    flex-direction: column-reverse;
    gap: var(--gap-xl);
    padding: var(--padding-md);
  }
  .link-section {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .left-section {
    align-items: center;
    gap: var(--gap-xl);
  }
  .left-section .soft-text {
    align-self: center;
  }
}
