@import url("../../globals.css");

nav {
  padding: 16px;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.nav-section {
  display: flex;
  gap: 16px;
}

.nav-button {
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  padding: 4px 16px;
  color: white;
  background-color: var(--light-charcoal);

  transition: opacity 0.2s ease;
}

.nav-button:hover {
  opacity: 0.6;
}

.nav-button-active {
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  padding: 4px 16px;
  color: var(--charcoal);
  background-color: white;
  cursor: default;
}

.nav-link {
  font-family: "OpenSans";
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  padding: 4px;
  color: white;
}
