.latestWorkSection {
  position: relative;
}

.latestWorkText {
  font-family: "Coolvetica";
  font-size: var(--fhuge);
  font-weight: 100;
  line-height: 100%;
  text-shadow: var(--text-glow);

  text-wrap-mode: nowrap;
  margin-left: -40px;
  overflow: hidden;
}

.projectListFrame {
  margin-inline: var(--huge);
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.projectFrame {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  justify-content: space-between;
  height: 550px;
}

.projectHeaderFrame {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
}

.projectHeaderText {
  font-family: "Coolvetica";
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--fmd);
  font-weight: 100;
}

.projectTypeText {
  font-family: "Coolvetica";
  text-transform: uppercase;
  color: var(--grey);
  font-size: var(--fsm);
  font-weight: 100;
}

.projectRoleListFrame {
  display: flex;
  flex-direction: row;
  gap: var(--micro);
  align-items: center;
}

.projectRoleText {
  font-family: "Coolvetica";
  text-transform: uppercase;
  color: var(--grey);
  font-size: var(--fxs);
  font-weight: 100;
}

.circleDivisor {
  width: 7px;
  height: 7px;
  background-color: var(--grey);
  position: relative;
  border-radius: 100%;
}

.iphoneImage {
  position: absolute;
  top: 220px;
  right: -80px;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
