@import url("../../globals.css");

.under-development-frame {
  display: flex;
  flex-direction: row;
  gap: var(--micro);
  background-color: var(--white);
  position: absolute;
  box-shadow: var(--hard-drop-shadow);
  left: 50%;
  top: 50%;
  z-index: 1;
}

.tape-circle-divisor {
  width: 5px;
  height: 5px;
  border-radius: var(--full-radius);
  background-color: var(--charcoal);
}

.under-dev-text {
  font-family: "Coolvetica";
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: var(--ftiny);
  color: var(--charcoal);
  font-weight: 100;
}

.under-development-text-frame {
  display: flex;
  align-items: center;
  gap: var(--micro);
}
