@import url("../../globals.css");

footer {
  padding: var(--lg) var(--huge);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.link-section {
  display: flex;
  flex-direction: row;
  gap: var(--lg);
}

.footer-copyright-text {
  font-size: var(--ftiny);
}

.soft-text {
  font-family: "OpenSans";
  text-transform: uppercase;
  font-size: var(--fmicro);
  font-weight: normal;
  color: var(--grey);
}

@media screen and (max-width: 1080px) {
  footer {
    padding: var(--lg) 8%;
  }
}

@media screen and (max-width: 620px) {
  footer {
    flex-direction: column-reverse;
    gap: var(--xl);
    padding: var(--md);
  }
  .link-section {
    flex-direction: column;
    gap: var(--micro);
  }
  .left-section {
    align-items: center;
    gap: var(--micro);
  }
  .left-section .soft-text {
    align-self: center;
  }
}
