@import url("../../globals.css");

footer {
  padding: 32px 200px;
  gap: 20px;
  background-color: var(--dark-charcoal);
  display: flex;
  position: relative;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.link-section {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.entry-fade {
  background: linear-gradient(180deg, var(--charcoal) 0%, var(--dark-charcoal) 100%);
  width: 100%;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 0;
}
