@import url("../../globals.css");

.contact-section {
  margin-inline: var(--huge);
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--lg);
}

.contact-text-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-header-frame {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.contact-text {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-size: var(--flg);
  text-shadow: var(--text-glow);
}

.contact-description-text {
  font-size: var(--fxs);
  color: var(--grey);
}

.social-frame {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.social-text {
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-size: var(--fsm);
  color: var(--grey);
}

.social-list-frame {
  display: flex;
  flex-direction: row;
  gap: var(--sm);
}

.contact-form-frame {
  display: flex;
  flex-direction: column;
  gap: var(--md);

  box-shadow: var(--basic-drop-shadow), var(--blue-glow) !important;
}

.contact-input-frame {
  display: flex;
  flex-direction: column;
  gap: var(--sm);

  cursor: text;
}

.contact-input-row {
  display: flex;
  flex-direction: row;
  gap: var(--sm);
}

.contact-form-text {
  font-size: var(--fsm);
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
