.navbar {
  padding: var(--sm) var(--xl);
  position: sticky;
  z-index: 900;
  top: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.navbar > * {
  pointer-events: all;
}

.navRoutesFrame,
.navSocialsFrame {
  display: flex;
  gap: var(--sm);
}

.navRoutesFrame {
  z-index: 998;
}

.dropdownMenuButton {
  display: none;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
  .navbar {
    padding: var(--sm);
  }
  .navSocialsFrame,
  .navRoutesFrame {
    display: none !important;
  }
  .logo {
    margin: 5px;
    position: initial;
  }
  .dropdownMenuButton {
    display: initial;
  }
}
