.navButton {
  font-family: "OpenSans";
  font-size: var(--ftiny);
  color: var(--grey);

  border-radius: var(--full-radius);
  border: 1px solid var(--steel);
  padding: var(--tiny) var(--xs);
  background-color: var(--grey-10);
  box-shadow: var(--basic-inset-shadow);

  transition: 0.3s ease;
}

.navButton:hover {
  color: var(--white);
  text-shadow: var(--text-glow);

  background-color: var(--white-10);
}

.navButtonActive {
  font-family: "OpenSans";
  font-size: var(--ftiny);
  color: var(--white);
  text-shadow: var(--text-glow);

  border: 1px solid var(--grey);
  border-radius: var(--full-radius);
  padding: var(--tiny) var(--xs);
  background: var(--glass-gradient);
  box-shadow: var(--basic-drop-shadow);

  cursor: default;

  transition: 1s ease;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
}
