.navMenu {
  display: flex;
  gap: var(--tiny);
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: var(--lg);
  bottom: 0;
  pointer-events: none;
  transform: translateY(100%);
}

.navMenu > * {
  pointer-events: all;
}

.navRoutesFrame {
  transform: translateX(150px);
  filter: blur(2px);
  display: flex;
  flex-direction: column;
  border-radius: 26px !important;
}

.navSocialsFrame {
  transform: translateX(150px);
  filter: blur(2px);
  display: flex;
  flex-direction: row;
  gap: var(--tiny);
}

.slideIn {
  animation: 0.2s slide-in ease forwards;
}

.slideOut {
  animation: 0.2s slide-out ease forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(150%);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    filter: blur(2px);
  }
  to {
    transform: translateX(150%);
    filter: blur(0);
    display: none;
  }
}

@media screen and (min-width: 620px) {
  .navMenu {
    display: none;
  }
}
