@import url("../../../globals.css");

nav {
  padding: var(--sm) var(--xl);
  position: sticky;
  z-index: 900;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: var(--gap-xl);
  flex-direction: column;
  align-items: baseline;
  position: fixed;
  padding: 16px;
  background-color: var(--charcoal);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-section {
  display: flex;
  gap: var(--sm);
}

.nav-button {
  font-family: "OpenSans";
  font-size: var(--ftiny);
  color: var(--grey);

  border-radius: var(--full-radius);
  border: 1px solid var(--steel);
  padding: var(--tiny) var(--xs);
  background-color: var(--grey-10);
  box-shadow: var(--basic-inset-shadow);

  transition: 0.3s ease;
}

.nav-button:hover {
  color: var(--white);
  text-shadow: var(--text-glow);

  background-color: var(--white-10);
}

.nav-button-active {
  font-family: "OpenSans";
  font-size: var(--ftiny);
  color: var(--white);
  text-shadow: var(--text-glow);

  border: 1px solid var(--grey);
  border-radius: var(--full-radius);
  padding: var(--tiny) var(--xs);
  background: var(--glass-gradient);
  box-shadow: var(--basic-drop-shadow);

  cursor: default;

  transition: 1s ease;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-button {
  display: none;
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 620px) {
  .nav-section {
    display: none;
  }
  .center {
    display: none !important;
  }
  nav .logo {
    margin: 5px;
    position: initial;
    transform: translateY(0);
  }
  .dropdown-menu-button {
    display: initial;
  }
}
