.inputFrame {
  display: flex;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--dust);
  box-shadow: var(--basic-inset-shadow);
  border: 1px solid var(--stone);
}

.textInput {
  font-family: "OpenSans";
  display: flex;
  width: 100%;
  font-size: var(--ftiny);
  color: var(--grey);
  border: none;
}
