.inputFrame {
  display: flex;
  flex-direction: column;
  gap: var(--micro);
}

.textInput {
  display: flex;
  padding: 10px 20px;
  border-radius: var(--small-radius);
  background-color: var(--dust);
  box-shadow: var(--basic-inset-shadow);
  border: 1px solid var(--stone);
  font-family: "OpenSans";
  width: 100%;
  font-size: var(--ftiny);
  color: var(--grey);
}

.invalidInput:-webkit-autofill,
.invalidInput:-webkit-autofill:hover,
.invalidInput:-webkit-autofill:focus,
.textInput:-webkit-autofill,
.textInput:-webkit-autofill:hover,
.textInput:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--grey);
  -webkit-box-shadow: 0 0 0px 999px var(--deep-smoke) inset;
  border: 1px solid var(--steel);
}

.invalidInput {
  display: flex;
  padding: 10px 20px;
  border-radius: var(--small-radius);
  background-color: var(--dust);
  box-shadow: inset 0 0px 20px hsla(0, 100%, 50%, 0.2);
  border: 1px solid var(--red);
  font-family: "OpenSans";
  width: 100%;
  font-size: var(--ftiny);
  color: var(--grey);
}

.labelText {
  font-family: "OpenSans";
  font-size: var(--ftiny);
  font-weight: normal;
  color: var(--steel);
}

.errorText {
  font-family: "OpenSans";
  text-transform: uppercase;
  font-size: var(--fmicro);
  font-weight: normal;
  color: var(--red);
}

.invalidInput::-webkit-scrollbar,
.textInput::-webkit-scrollbar {
  width: 26px;
}

.invalidInput::-webkit-scrollbar-track,
.textInput::-webkit-scrollbar-track {
  box-shadow: none;
  cursor: default;
  margin-block: 2px;
}

.invalidInput::-webkit-scrollbar-thumb,
.textInput::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: var(--full-radius);
  box-shadow: inset 0 4px 10px var(--white);

  background-clip: content-box;
  border: 9px solid transparent;

  cursor: default;
}

.invalidInput::-webkit-scrollbar-thumb:hover,
.textInput::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-40);
  box-shadow: inset 0 4px 10px var(--white-60);
}
